{% extends "layoutwithfixedfooter.html" %}

{% block content %} 
<div class="container">
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                
                        <div class="panel-body">
                        <form method="POST" enctype="multipart/form-data" action="/AddDish">
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                <label style="color:white;">ADD A DELICIOUS ENTREE TO SELL</label> 
                            </div>

                            <div class="row">
                            <div class="form-group">
                                        {% if form.entreeName.errors %}
                                            {% for error in form.entreeName.errors %}
                                                <p class="error-message" style="color: #ffc000;">{{ error }}</p>
                                            {% endfor %}
                                        {% endif %}

                                        {{ form.entreeName(class="form-control input-sm", placeholder="Entree Name") }}
                            </div>

                            <div class="form-group">
                                        {% if form.price.errors %}
                                            {% for error in form.price.errors %}
                                                <p class="error-message" style="color: #ffc000;">{{ error }}</p>
                                            {% endfor %}
                                        {% endif %}

                                        {{ form.price(class="form-control input-sm", placeholder="Price in $") }}
                            </div>



            <div class="row">
                  <div class="col-xs-4 col-sm-4 col-md-4">
                    <div class="form-group">
                      <label style="color:white; padding-top: 0.2em;">Upload Img:</label>
                    </div>
                  </div>
                  <div class="col-xs-8 col-sm-8 col-md-8">
                    <div class="input-group">
                           <span style="color:white;" class="btn btn-file">
                            {{ form.imageURL }}
                      </span>
                    </div>
                  </div>
              <img id='img-upload'/>
              </div>





                             <input style="background-color:#EF5F21; border:none;" type="submit" value="Submit" class="btn btn-info btn-block">

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}