{% extends "layoutwithfixedfooter.html" %}

{% block content %} 
<div class="container">
   <div class="row">
   <div class =Map>
      <div class="col-md-8 col-sm-6 col-xs-12">
            <div class="Map1">
               <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d20506.693356784646!2d-96.34156816562819!3d30.619218893538356!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9747b8a4b9c03bc8!2sTexas+A%26M+University!5e0!3m2!1sen!2sus!4v1492112182532" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
         </div>



         <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="Map2">
               <h2 style ="color:#fff; font-size:2em;">Contact Us</h2>
               <br>
               <address style ="color:#fff; font-size:1.2em;">
                  Tengo Hambre<br>
                  400 Bizzell St<br> 
                  College Station,
                  TX 77843<br>
                  United States<br><br>
                  <abbr title="Phone">Phone:</abbr> 01234 567 890<br>
                  <abbr title="Email">Email:</abbr> TengoHam@gmail.com
               </address>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}