{% extends "layout.html" %}
{% block content %} 
<!--Main Container-->
<div class="container">
   <div class="row centered-form">
   <!--Code for grids on different screen sizes-->
      <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
         <div class="panel panel-default">
            <div class="panel-body">
               <form method="POST" enctype="multipart/form-data" action="/createUser">
                  {{ form.hidden_tag() }}
                  <div class="form-group">
                     <h3><label style="color:white;">Please enter your details</label> </h3>
                  </div>
                  <div class="row">
                  <!--Conditional loop for validation error messages-->
                      {% if form.firstName.errors and form.lastName.errors %}
                      {% for error in form.firstName.errors %}
                     <p class="error-message " style="color: #ffc000; margin-left: 5%;"><span>{{ error }}</span></p>
                     {% endfor %}
                      {% else %}
                     {% if form.firstName.errors %}
                     {% for error in form.firstName.errors %}
                     <p class="error-message " style="color: #ffc000; margin-left: 5%;"><span>{{ error }}</span></p>
                     {% endfor %}
                     {% endif %}
                     {% if form.lastName.errors %}
                     {% for error in form.lastName.errors %}
                     <p class="error-message " style="color: #ffc000; margin-left: 5%;"><span>{{ error }}</span></p>
                     {% endfor %}
                     {% endif %}
                     {% endif %}
                     <!--End of conditional loop for validation error messages-->
                     <!--Code to contain First name amd Last name in one row-->
                     <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                           {{ form.firstName(class="form-control input-sm", placeholder="First Name") }}
                        </div>
                     </div>
                     <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                           {{ form.lastName(class="form-control input-sm", placeholder="Last Name") }}
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                  <!--Error validation for email-->
                     {% if form.email.errors %}
                     {% for error in form.email.errors %}
                     <p class="error-message " style="color: #ffc000;"><span>{{ error }}</span></p>
                     {% endfor %}
                     {% endif %}
                     <!--End of error validation for email-->
                     <!--Flash messages for email id which indicate validation errors-->
                      {% with messages = get_flashed_messages() %}
                     {% if messages %}
                     <div class=flashes>
                        {% for message in messages %}
                        <label style="color:#ffc000; font-size:1.1em; font-family: 'Open Sans',sans-serif; font-weight:normal;">{{ message }}</label>
                        {% endfor %}
                     </div>
                     {% endif %}
                     {% endwith %}
                     {{ form.email(class="form-control input-sm", placeholder="Email ID") }}
                  </div>
                  <!--Code for password field-->
                  <div class="form-group">
                  <!--Error validation for password-->
                     {% if form.password.errors %}
                     {% for error in form.password.errors %}
                     <p class="error-message " style="color: #ffc000;"><span>{{ error }}</span></p>
                     {% endfor %}
                     {% endif %}
                     <!--End of error validation for password-->
                     {{ form.password(class="form-control input-sm", placeholder="Password") }}
                  </div>
                  <!--Code for Address line 1 field-->
                  <div class="form-group">
                     {% if form.addressLine1.errors %}
                     {% for error in form.addressLine1.errors %}
                     <p class="error-message " style="color: #ffc000;"><span>{{ error }}</span></p>
                     {% endfor %}
                     {% endif %}
                     {{ form.addressLine1(class="form-control input-sm", placeholder="Address Line 1") }}
                  </div>
                  <!--Code for Address line 2 field-->
                  <div class="form-group">
                     {% if form.addressLine2.errors %}
                     {% for error in form.addressLine2.errors %}
                     <p class="error-message " style="color: #ffc000;"><span>{{ error }}</span></p>
                     {% endfor %}
                     {% endif %}
                     {{ form.addressLine2(class="form-control input-sm", placeholder="Address Line 2") }}
                  </div>
                  <!--Code for city field-->
                  <div class="form-group">
                     {% if form.city.errors %}
                     {% for error in form.city.errors %}
                     <p class="error-message " style="color: #ffc000;"><span>{{ error }}</span></p>
                     {% endfor %}
                     {% endif %}
                     {{ form.city(class="form-control input-sm", placeholder="City") }}
                  </div>
                  <!--Code for State field-->
                  <div class="form-group">
                     {% if form.state.errors %}
                     {% for error in form.state.errors %}
                     <p class="error-message " style="color: #ffc000;"><span>{{ error }}</span></p>
                     {% endfor %}
                     {% endif %}
                     {{ form.state(class="form-control input-sm", placeholder="State") }}
                  </div>
                  <!--Code for Zip Code field-->
                  <div class="form-group">
                     {% if form.zipCode.errors %}
                     {% for error in form.zipCode.errors %}
                     <p class="error-message " style="color: #ffc000;"><span>{{ error }}</span></p>
                     {% endfor %}
                     {% endif %}
                     {{ form.zipCode(class="form-control input-sm", placeholder="Zip Code") }}
                  </div>
                  <!--Code for Country field-->
                  <div class="form-group">
                     {% if form.country.errors %}
                     {% for error in form.country.errors %}
                     <p class="error-message " style="color: #ffc000;"><span>{{ error }}</span></p>
                     {% endfor %}
                     {% endif %}
                     {{ form.country(class="form-control input-sm", placeholder="Country") }}
                  </div>
                  <!--Code for Phone Numberfield-->
                  <div class="form-group">
                     {% if form.phoneNumber.errors %}
                     {% for error in form.phoneNumber.errors %}
                     <p class="error-message " style="color: #ffc000;"><span>{{ error }}</span></p>
                     {% endfor %}
                     {% endif %}
                     {{ form.phoneNumber(class="form-control input-sm", placeholder="Phone Number: 1234567890") }}
                  </div>
                  <!--Code for Upload image field-->
                  <div class="form-group">
                       {% if form.imageURL.errors %}
                       {% for error in form.imageURL.errors %}
                       <p class="error-message " style="color: #ffc000;"><span>{{ error }}</span></p>
                       {% endfor %}
                       {% endif %}
                  </div>
                  <div class="row">
                     <div class="col-xs-4 col-sm-4 col-md-4">
                        <div class="form-group">
                           <label style="color:white; padding-top: 0.2em;">Upload Img:</label>
                        </div>
                     </div>
                     <div class="col-xs-8 col-sm-8 col-md-8">
                     <!--Code for Submit button field-->
                        <div class="input-group">
                           <span style="color:white;" class="btn btn-file">
                           {{ form.imageURL }}
                           </span>
                        </div>
                     </div>
                     <img id='img-upload'/>
                  </div>
                  {{ form.submit(class="btn btn-info btn-block", style="background-color:#EF5F21; border:none;") }}
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}