{% extends "layout.html" %}

{% block content %}
    <section id="main-slider" class="no-margin">
        <div class="carousel slide" id="myCarousel">
            <div class="carousel-inner">
                <div class="item active" style="background-image: url(static/images/slider/bg1.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1"> Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
                                    <h2 class="animation animated-item-2"> Accusantium doloremque laudantium totam rem aperiam, eaque ipsa...</h2>
                                    <a class="btn-slide animation animated-item-3 pull-right" href="#"> Read More</a>
                                </div>
                            </div>
                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="static/images/slider/img1.jpg" style="height: 250px !important" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <div class="item" style="background-image: url(static/images/slider/bg2.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1"> Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
                                    <h2 class="animation animated-item-2"> Accusantium doloremque laudantium totam rem aperiam, eaque ipsa...</h2>
                                    <a class="btn-slide animation animated-item-3 pull-right" href="#"> Read More</a>
                                </div>
                            </div>
                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="static/images/slider/img1.jpg" style="height: 250px !important" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item" style="background-image: url(static/images/slider/bg3.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1"> Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
                                    <h2 class="animation animated-item-2"> Accusantium doloremque laudantium totam rem aperiam, eaque ipsa...</h2>
                                    <a class="btn-slide animation animated-item-3 pull-right" href="#"> Read More</a>
                                </div>
                            </div>
                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="static/images/slider/img1.jpg" style="height: 250px !important" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				<div class="item" style="background-image: url(static/images/slider/bg4.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1"> Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
                                    <h2 class="animation animated-item-2"> Accusantium doloremque laudantium totam rem aperiam, eaque ipsa...</h2>
                                    <a class="btn-slide animation animated-item-3 pull-right" href="#"> Read More</a>
                                </div>
                            </div>
                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="static/images/slider/img1.jpg" style="height: 250px !important" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				<div class="item" style="background-image: url(static/images/slider/bg5.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1"> Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
                                    <h2 class="animation animated-item-2"> Accusantium doloremque laudantium totam rem aperiam, eaque ipsa...</h2>
                                    <a class="btn-slide animation animated-item-3 pull-right" href="#"> Read More</a>
                                </div>
                            </div>
                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="static/images/slider/img1.jpg" style="height: 250px !important" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row hidden-xs" id="slider-thumbs">
                    <!-- Bottom switcher of slider -->
                    <ul class="hide-bullets">
                        <li class="col-sm-2">
                            <a class="thumbnail active" id="carousel-selector-0"> <img src="static/images/slider/bg1.jpg"> </a>
                        </li>
                        <li class="col-sm-2">
                            <a class="thumbnail" id="carousel-selector-1"> <img src="static/images/slider/bg2.jpg"> </a>
                        </li>
                        <li class="col-sm-2">
                            <a class="thumbnail" id="carousel-selector-2"> <img src="static/images/slider/bg3.jpg"> </a>
                        </li>
						<li class="col-sm-2">
                            <a class="thumbnail" id="carousel-selector-2"> <img src="static/images/slider/bg4.jpg"> </a>
                        </li>
						<li class="col-sm-2">
                            <a class="thumbnail" id="carousel-selector-2"> <img src="static/images/slider/bg5.jpg"> </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div> <a class="prev hidden-xs" href="#main-slider" data-slide="prev"> <i class="fa fa-chevron-left"> </i> </a> <a class="next hidden-xs" href="#main-slider" data-slide="next"> <i class="fa fa-chevron-right"> </i> </a>
    </section>
{% endblock %}