{% extends "layout.html" %}

{% block content %}
    <div class= "bg-background">
		<div id="main-slider" class="container margin1" >
			 <div class="carousel slide" id="myCarousel" data-ride="carousel">
			<!--added on 2/4-->
			 
				<div class="carousel-inner row margin2" style="margin:auto">
					<div class="item col-sm-12 Carouselrow active" data-toggle="modal" data-target="#dialog-message"> <img src="static/images/slider/bg1.jpeg" alt="dish" > </div>
					<div class="item col-sm-12 Carouselrow" data-toggle="modal" data-target="#dialog-message"> <img src="static/images/slider/bg2.jpg" alt="dish"> </div>     
					<div class="item col-sm-12 Carouselrow" data-toggle="modal" data-target="#dialog-message"> <img src="static/images/slider/bg3.jpg" alt="dish"> </div>
					<div class="item col-sm-12 Carouselrow" data-toggle="modal" data-target="#dialog-message"> <img src="static/images/slider/bg6.jpeg" alt="dish"> </div>
					<div class="item col-sm-12 Carouselrow" data-toggle="modal" data-target="#dialog-message"> <img src="static/images/slider/bg5.jpeg" alt="dish"></div>
					</div>
					<ol class="carousel-indicators hidden-md hidden-lg visible-xs visible-sm">
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="1"></li>
						<li data-target="#myCarousel" data-slide-to="2"></li>
						<li data-target="#myCarousel" data-slide-to="3"></li>
					</ol>
				    <div class="row hidden-xs" id="slider-thumbs">
                        <!-- Bottom switcher of slider -->
                        <ul class="hide-bullets">
                            <li class="col-sm-2">
                                <a class="thumbnail img-fluid" id="carousel-selector-0"> <img src="static/images/slider/bg1.jpeg"> </a>
                            </li>
                            <li class="col-sm-2">
                                <a class="thumbnail img-fluid active" id="carousel-selector-1"> <img src="static/images/slider/bg2.jpg"> </a>
                            </li>                                                   
                            <li class="col-sm-2">                                   
                                <a class="thumbnail img-fluid" id="carousel-selector-2"> <img src="static/images/slider/bg3.jpeg"> </a>
                            </li>                                                   
                            <li class="col-sm-2">                                   
                                <a class="thumbnail img-fluid" id="carousel-selector-3"> <img src="static/images/slider/bg5.jpeg"> </a>
                            </li>                                                   
                            <li class="col-sm-2">                                   
                                <a class="thumbnail img-fluid" id="carousel-selector-4"> <img src="static/images/slider/bg6.jpeg"> </a>
                            </li>
							<li class="col-sm-2">                                   
                                <a class="thumbnail img-fluid" id="carousel-selector-4"> <img src="static/images/slider/add.png"> </a>
                            </li>
                        </ul>
                    </div>
                        
					</div>
				<a class="prev hidden-xs" href="#main-slider" data-slide="prev"> <i class="fa fa-chevron-left"> </i> </a> <a class="next hidden-xs" href="#main-slider" data-slide="next"> <i class="fa fa-chevron-right"> </i> </a>
		</div>
		
		<div class="container">
       
            <div class="row">
             {% for row in rs%}
              <div class="col-md-3">
                <div class="img-rounded" style="margin:30px;"> 
                    <img src="{{row[1]}}" id="ChefProfileRecipe" class="" alt="salad" style="width:100%">
                    <div class="caption" id="item4price">
                    <p style="color:#ffc000 " id="Itemname"><b>{{ row[0] }}</b></p>
                    </div>
                </div>
              </div>
              {% endfor %}
              
        
            </div>
            
	 </div>      
       
    
	<div id="dialog-message" class="modal " title="Recipe" style="display: none;">
	  <div class="modal-dialog">
		<div class="modal-content">
        <div class="modal-title m2"  > 
        	<h1 style="color: #ffc000"> Dish Name </h1> 
    	</div>
		<div class="modal-header"> 
            <div class="row">
            <div class="col-sm-4 col-xs-4 col-md-4 visible-xs visible-sm">
              		<img src="static/images/images.png" style="width: 100%; height: 100%; position: relative;">
            </div>
              <div class="col-sm-8 col-md-8" >
              	<h2> Ingredients:</h2>
             		<div class="well" style="max-height: 25vh; min-height: 10vh; overflow-y: auto; overflow-x: hidden;">
	              	<ul class="">
						<li>fill ingredients here</li>
						<li>fill ingredients here</li>
						<li>fill ingredients here</li>
						<li>fill ingredients here</li>
					</ul>        
					<ul class="">
						<li>fill ingredients here</li>
						<li>fill ingredients here</li>
						<li>fill ingredients here</li>
						<li>fill ingredients here</li>
					</ul>    <ul class="">
						<li>fill ingredients here</li>
						<li>fill ingredients here</li>
						<li>fill ingredients here</li>
						<li>fill ingredients here</li>
					</ul>    <ul class="">
						<li>fill ingredients here</li>
						<li>fill ingredients here</li>
						<li>fill ingredients here</li>
						<li>fill ingredients here</li>
					</ul>    <ul class="">
						<li>fill ingredients here</li>
						<li>fill ingredients here</li>
						<li>fill ingredients here</li>
						<li>fill ingredients here</li>
					</ul>    <ul class="">
						<li>fill ingredients here</li>
						<li>fill ingredients here</li>
						<li>fill ingredients here</li>
						<li>fill ingredients here</li>
					</ul>    <ul class="">
						<li>fill ingredients here</li>
						<li>fill ingredients here</li>
						<li>fill ingredients here</li>
						<li>fill ingredients here</li>
					</ul>    <ul class="">
						<li>fill ingredients here</li>
						<li>fill ingredients here</li>
						<li>fill ingredients here</li>
						<li>fill ingredients here</li>
					</ul>    <ul class="">
						<li>fill ingredients here</li>
						<li>fill ingredients here</li>
						<li>fill ingredients here</li>
						<li>fill ingredients here</li>
					</ul>   
					</div> 
              </div>
              <div class="col-sm-3 col-xs-3 col-md-4 hidden-xs hidden-sm">
              		<img src="static/images/images.png" style="width: 100%; height: 100%; position: relative;">
              </div>	                        
            </div>               
        </div> 
		
		<div class="modal-body m3" >
			<h2>Recipe:</h2>
			<div class="col-sm-12 col-md-12">
				<div class="well m4">
					Method 
					Combine the mango cubes and powdered sugar in a mixer and blend till smooth.
					Transfer the mixture into a deep bowl, add all the other ingredients, mix well and knead into a soft dough without using any water.
					Divide the dough into 20 equal portions.
					Roll out each portion of the dough into a 75 mm. (3”) diameter circle.
					Heat the oil in a deep non-stick pan and deep-fry, a few puris at a time on a medium flame, till they turn golden brown in colour from all the sides. Drain on an absorbent paper.
					Serve immediately.
					- See more at: https://www.tarladalal.com/Mango-Puri--Aam-Ki-Poori-41686r#sthash.WsaLPhZO.dpuf
					
				</div>
			</div>
			
		</div>

        <div class="modal-footer">
      		<button type="button" class="btn btn-warning" data-dismiss="modal">OK</button>
    	</div>
		</div>
	  </div>
	</div>
 
{% endblock %}