{% extends "layout.html" %}

{% block content %}
    <div class= "bg-background">
		<div id="main-slider" class="container margin1" >
			 <div class="carousel slide" id="myCarousel" data-ride="carousel">
			<!--added on 2/4-->
			 
				<div class="carousel-inner row">
					<div class="item col-sm-12 Carouselrow active" data-toggle="modal" data-target="#dialog-message"> <img src="static/images/slider/bg1.jpeg" alt="dish" width="100%"> </div>
					<div class="item col-sm-12 Carouselrow" data-toggle="modal" data-target="#dialog-message"> <img src="static/images/slider/bg2.jpg" alt="dish"> </div>     
					<div class="item col-sm-12 Carouselrow" data-toggle="modal" data-target="#dialog-message"> <img src="static/images/slider/bg3.jpg" alt="dish"> </div>
					<div class="item col-sm-12 Carouselrow" data-toggle="modal" data-target="#dialog-message"> <img src="static/images/slider/bg6.jpeg" alt="dish"> </div>
					<div class="item col-sm-12 Carouselrow" data-toggle="modal" data-target="#dialog-message"> <img src="static/images/slider/bg5.jpeg" alt="dish"></div>
					</div>
					<ol class="carousel-indicators hidden-md hidden-lg visible-xs visible-sm">
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="1"></li>
						<li data-target="#myCarousel" data-slide-to="2"></li>
						<li data-target="#myCarousel" data-slide-to="3"></li>
					</ol>
				    <div class="row hidden-xs" id="slider-thumbs">
                        <!-- Bottom switcher of slider -->
                        <ul class="hide-bullets">
                            <li class="col-sm-2">
                                <a class="thumbnail img-fluid" id="carousel-selector-0"> <img src="static/images/slider/bg1.jpeg"> </a>
                            </li>
                            <li class="col-sm-2">
                                <a class="thumbnail img-fluid active" id="carousel-selector-1"> <img src="static/images/slider/bg2.jpg"> </a>
                            </li>                                                   
                            <li class="col-sm-2">                                   
                                <a class="thumbnail img-fluid" id="carousel-selector-2"> <img src="static/images/slider/bg3.jpeg"> </a>
                            </li>                                                   
                            <li class="col-sm-2">                                   
                                <a class="thumbnail img-fluid" id="carousel-selector-3"> <img src="static/images/slider/bg5.jpeg"> </a>
                            </li>                                                   
                            <li class="col-sm-2">                                   
                                <a class="thumbnail img-fluid" id="carousel-selector-4"> <img src="static/images/slider/bg6.jpeg"> </a>
                            </li>
							<li class="col-sm-2">                                   
                                <a class="thumbnail img-fluid" id="carousel-selector-4"> <img src="static/images/slider/add.png"> </a>
                            </li>
                        </ul>
                    </div>
                        
					</div>
				<a class="prev hidden-xs" href="#main-slider" data-slide="prev"> <i class="fa fa-chevron-left"> </i> </a> <a class="next hidden-xs" href="#main-slider" data-slide="next"> <i class="fa fa-chevron-right"> </i> </a>
		</div>
		
		<div class="container">
       
            <div class="row">
             {% for row in rs%}
              <div class="col-md-3">
                <div class="img-rounded" > 
                    <img src="{{row[1]}}" id="ChefProfileRecipe" class="well" alt="salad" style="width:85%">
                    <div class="caption" id="item4price">
                    <p style="color:#ffc000 " id="Itemname"><b>{{ row[0] }}</b></p>
                    </div>
                </div>
              </div>
              {% endfor %}
              
        
            </div>
            
	 </div>      
       
    
	<div id="dialog-message" class="modal" title="Recipe" style="display: none;">
	  <div class="modal-dialog">
		<div class="modal-content">
        <div class="modal-title" > <h1> Dish Name</h1> </div>
			<div class="modal-header">Ingredients:
				<ul class="ingredientList">
					<li>fill ingredients here</li>
					<li>fill ingredients here</li>
					<li>fill ingredients here</li>
					<li>fill ingredients here</li>
				</ul>
			</div>
			<div class="modal-body">Recipe:
				<span class="recipe">
				</span>
			</div>
            <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
        </div>
		</div>
	  </div>
	</div>
 
{% endblock %}