{% extends "layout.html" %}

{% block content %}
     <div class="header-end">
            <div class="container">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                  </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="static/images/slider/image1.jpg" alt="...">
                        <div class="carousel-caption car-re-posn">
                             
                        </div>
                    </div>
                    <div class="item">
                      <img src="static/images/slider/Image2.jpg" alt="...">
                        <div class="carousel-caption car-re-posn">
                          
                        </div>
                    </div>
                    <div class="item">
                      <img src="static/images/slider/image4.jpg" alt="...">
                        <div class="carousel-caption car-re-posn">
                            
                        </div>
                    </div>
                  </div>

                  <!-- Controls -->
                                  </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!--content-->
    <div class="container">
        <div class="cont">
            <div class="content">
                <div class="content-top-bottom">
                    <h2>RECIPES</h2>
                    <div class="col-md-8 men">
                        <a href="Recipe.html" class="b-link-stripe b-animate-go"><img class="img-responsive img-rounded" src="static\images\Snack1.jpg" alt="">
                            <div class="b-wrapper">
                                                <h3 class="b-animate">
                                                    <span>Best Recipe of the Week</span>
                                                </h3>
                                            </div>
                        </a>


                    </div>
                    <div class="col-md-4">
                        <div class="col-md1 menup">
                            <a href="Recipe.html" class="b-link-stripe b-animate-go"><img class="img-responsive img-rounded" src="static\images\snack 3.jpg" alt="">
                                <div class="b-wrapper">
                                                <h3 class="b-animate">
                                                    <span>Trending Snack</span>
                                                </h3>
                                            </div>
                            </a>

                        </div>
                        <div class="col-md1 mendw">
                            <a href="Recipe.html" class="b-link-stripe b-animate-go"><img class="img-responsive img-rounded" src="static\images\snack 4.jpg" alt="">
                                <div class="b-wrapper">
                                                <h3 class="b-animate">
                                                    <span>New Entry</span>
                                                </h3>
                                            </div>
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="content-top-bottom">
                    <h2>CHEF CONNECT</h2>
                    <div class="col-md-8 men">
                        <a href="Recipe.html" class="b-link-stripe b-animate-go"><img class="img-responsive img-rounded" src="static\images\chef 3.jpg" alt="">
                            <div class="b-wrapper">
                                                <h3 class="b-animate">
                                                    <span>Best Chef of the Week</span>
                                                </h3>
                                            </div>
                        </a>


                    </div>
                    <div class="col-md-4">
                        <div class="col-md1 menup">
                            <a href="Recipe.html" class="b-link-stripe b-animate-go"><img class="img-responsive img-rounded" src="static\images\chef1.jpg" alt="">
                                <div class="b-wrapper">
                                                <h3 class="b-animate">
                                                    <span>Trending Chef</span>
                                                </h3>
                                            </div>
                            </a>

                        </div>
                        <div class="col-md1 mendw">
                            <a href="Recipe.html" class="b-link-stripe b-animate-go"><img class="img-responsive img-rounded" src="static\images\chef 2.jpg" alt="">
                                <div class="b-wrapper">
                                                <h3 class="b-animate">
                                                    <span>New Entry</span>
                                                </h3>
                                            </div>
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        
    </div>
    </div>
{% endblock %}