<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Tango Hambre template, Recipes, 15 minute recipes, quick food, healthy food, order food online, low price" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <meta name="description" content="Quick food for students">
    <meta name="author" content="Alok,Dhruv,Divya,Nikitha,Titto">
    <title>Home | Tengo Hambre</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/css/animate.min.css" rel="stylesheet">
    <link href="static/css/prettyPhoto.css" rel="stylesheet">
    <link href="static/css/main.css" rel="stylesheet">
    <link href="static/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->
    <link rel="shortcut icon" href="static/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="static/images/ico/apple-touch-icon-57-precomposed.png">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="static/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->

    <link href="static/css/memenu.css" rel="stylesheet" type="text/css" media="all" />



    <style>
        .hide-bullets {
            list-style: none;
            margin-left: -40px;
            margin-top: 20px;
        }

        .thumbnail > img, .thumbnail a > img {
            opacity: 0.3;
        }

        .thumbnail > img, .thumbnail a > img {
            opacity: 0.3;
        }

        .thumbnail.active > img {
            opacity: 1;
        }
    </style>
</head>

<body class="homepage">
    <header id="header">
        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only"> Toggle navigation</span>
                        <span class="icon-bar"> </span> <span class="icon-bar"> </span>
                        <span class="icon-bar"> </span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img src="static/images/logo.png" alt="logo">
                    </a>
                </div>
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="{{ url_for('index') }}"><i class="fa fa-home"> </i> Home</a>
                        </li>
                        <li >
                            <a href="{{ url_for('recipes') }}""><i class="fa fa-cutlery"> </i>  Recipes</a>
                        </li>
                        <li >
                            <a href="{{ url_for('chefConnect') }}"><i class="fa fa-connectdevelop"> </i> Chef Connect</a>
                        </li>
                        <li>
                            <a href="portfolio.html"><i class="fa fa-phone"> </i> Contact Us</a>
                        </li>
                        {% if 'email' in session %}
                            <li class=" dropdown">
                                <a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hi {{ session['firstName'] }} !<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ url_for('chefProfile') }}"><i class="fa fa-file-text-o"> </i> My Profile</a></li>
                                    <li><a href="{{ url_for('logout') }}"><i class="fa fa-sign-out"> </i> Logout</a></li>
                                </ul>
                            </li>
                        {% else %}
                        {% endif %}

                        {% if 'email' in session %}
                        {% else %}
                            <li class=""><a href="{{ url_for('signin') }}"><i class="fa fa-user-plus"> </i>  Login/Signup</a></li>
                        {% endif %}
                    </ul>
                    <!--<ul class="nav navbar-nav pull-right">
                        {% if 'email' in session %}
                            <li class=" dropdown">
                                <a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hi !<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">My Profile</a></li>
                                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                                </ul>
                            </li>
                        {% else %}
                        {% endif %}

                        {% if 'email' in session %}
                        {% else %}
                            <li class=""><a href="{{ url_for('signin') }}">Login</a></li>
                        {% endif %}
                    </ul>-->
                </div>
            </div>
        </nav>
    </header> 

    {% block content %}
    {% endblock %}

        <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2017 <a target="_blank" href="#" title="Tengo Hambre == I'm hungry">Group 5, IS Design </a>
                    <div class="top-number">
                        <p> <i class="fa fa-phone-square"> </i> +0123 456 70 90</p>
                    </div>
                </div>
                
                <div class="col-sm-3 col-xs-4 pull-right">
                    <div class="social">
                        <ul class="social-share">
                            <li> <a href="#"> <i class="fa fa-facebook"> </i> </a> </li>
                            <li> <a href="#"> <i class="fa fa-twitter"> </i> </a> </li>
                            <li> <a href="#"> <i class="fa fa-linkedin"> </i> </a> </li>
                            <li> <a href="#"> <i class="fa fa-dribbble"> </i> </a> </li>
                            <li> <a href="#"> <i class="fa fa-skype"> </i> </a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>



    <script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/jquery.prettyPhoto.js"></script>
    <script src="static/js/jquery.isotope.min.js"></script>
    <script src="static/js/main.js"></script>
    <script src="static/js/wow.min.js"></script>
    <script src="static/js/responsiveslides.min.js"></script>
    <script type="text/javascript" src="static/js/memenu.js"></script>
    <script>
            jQuery(document).ready(function ($) {
                $('[id^=carousel-selector-]').click(function () {
                    var id = this.id.substr(this.id.lastIndexOf("-") + 1);
                    var id = parseInt(id);
                    $('.thumbnail').removeClass('active');
                    $(this).addClass('active');
                    $('#main-slider').carousel(id);
                });
            }); </script>
    <script>$(document).ready(function(){$(".memenu").memenu();});</script>
                  <script>
                    $(function () {
                      $("#slider").responsiveSlides({
                        auto: true,
                        nav: true,
                        speed: 500,
                        namespace: "callbacks",
                        pager: true,
                      });
                    });
                  </script>

</html>
