{% extends "layout.html" %}

{% block content %} 
        <div class="container">
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4" align="center">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form method="POST" action="/signin">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            <label style="color:white;">Please enter your credentials</label> 
                        </div> 

                        <div class="form-group">
                                        {% if form.email.errors %}
                                            {% for error in form.email.errors %}
                                                <p class="error-message">{{ error }}</p>
                                            {% endfor %}
                                        {% endif %}

                                        {{ form.email(class="form-control input-sm", placeholder="Email ID") }}
                        </div>

                        <div class="form-group">
                                        {% if form.password.errors %}
                                            {% for error in form.password.errors %}
                                                <p class="error-message">{{ error }}</p>
                                            {% endfor %}
                                        {% endif %}

                                        {{ form.password(class="form-control input-sm", placeholder="Password") }}
                        </div>
                            

                        {{ form.submit(class="btn btn-info btn-block", style="background-color:#e36612; border:none;") }}

                        </form>
                            

                            <div class="form-group">
                                <label style="padding-top: 2em; color:white;">Click Create User to create a new profile</label> 
                            </div> 
                            
                            <a href="{{ url_for('createUser') }}" class="btn btn-info btn-block" style="background-color:#e36612; border:none; color:#fff" type="submit">Create User</a>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}